.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.loading-data {
  font-size: 16px;
  margin-top: 20px;
  color: var(--text-light);
}
