/* // <div className="inline-block absolute top left mt12
ml12 bg-darken75 color-white z1 py6 px12 round-full txt-s txt-bold"> */

.position {
  display: inline-block;
  position: absolute;
  top: 100px;
  
}
