* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1a1a1a;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.loading-data {
  font-size: 16px;
  margin-top: 20px;
  color: #eeeeee;
}
